@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ececec;
  }
  ::-webkit-scrollbar-thumb {
    background: #f59e0b;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fba30a;
  }